# Comments are provided throughout this file to help you get started.
# If you need more help, visit the Docker Compose reference guide at
# https://docs.docker.com/go/compose-spec-reference/

# Here the instructions define your application as a service called "server".
# This service is built from the Dockerfile in the current directory.
# You can add other services your application may depend on here, such as a
# database or a cache. For examples, see the Awesome Compose repository:
# https://github.com/docker/awesome-compose
services:
  server:
    image: esptfa_arima_app
    build:
      context: .
    ports:
      - 8000:8000
    env_file:
      - esptfa_arima/.env
    depends_on:
      - redis
      - db
    volumes:
      - esptfa_arima_media:/app/esptfa_arima/media
      - esptfa_arima_static:/app/esptfa_arima/static

  redis:
    image: redis:latest
    ports:
      - 6379:6379
    restart: always

  db:
    image: postgres:14
    restart: always
    user: postgres
    secrets:
      - db-password
    environment:
      - POSTGRES_PASSWORD_FILE=/run/secrets/db-password
      - POSTGRES_DB=esptfa_arima
    expose:
      - 5432
    env_file:
      - esptfa_arima/.env
    volumes:
      - db-data:/var/lib/postgresql/data

  celery:
    image: esptfa_arima_app
    env_file:
      - esptfa_arima/.env
    command: celery -A esptfaARIMA worker -l INFO -E
    depends_on:
      - server
      - redis
      - db
    volumes:
      - esptfa_arima_media:/app/esptfa_arima/media
      - esptfa_arima_static:/app/esptfa_arima/static
  
volumes:
  db-data:
  esptfa_arima_media:
  esptfa_arima_static:


secrets:
  db-password:
    file: db/password.txt


# The commented out section below is an example of how to define a PostgreSQL
# database that your application can use. `depends_on` tells Docker Compose to
# start the database before your application. The `db-data` volume persists the
# database data between container restarts. The `db-password` secret is used
# to set the database password. You must create `db/password.txt` and add
# a password of your choosing to it before running `docker compose up`.
#     depends_on:
#       db:
#         condition: service_healthy
#   db:
#     image: postgres
#     restart: always
#     user: postgres
#     secrets:
#       - db-password
#     volumes:
#       - db-data:/var/lib/postgresql/data
#     environment:
#       - POSTGRES_DB=example
#       - POSTGRES_PASSWORD_FILE=/run/secrets/db-password
#     expose:
#       - 5432
#     healthcheck:
#       test: [ "CMD", "pg_isready" ]
#       interval: 10s
#       timeout: 5s
#       retries: 5
# volumes:
#   db-data:
# secrets:
#   db-password:
#     file: db/password.txt

